/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

.rspec_status

.DS_Store

*.lock
vendor/bundle

.idea/
.vscode/

*.gem

.env
.ruby-version
.ruby-gemset

*.rbc

/vendor/
/node_modules/

*.log
